//****************
//Extends
//****************

//Text styling

%list-text-center {
  list-style-type: none;
  text-align: center;
}

//Display of content

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

%width-max {
  max-width: 100%;
}

//Margins

%margin-auto {
  margin: 0 auto;
}

//****************
//Mixins
//****************

//font mixin

@mixin fonts ($font-size, $font-weight, $font-color) {
  font-size: $font-size;
  font-weight: $font-weight;
  color: $font-color;
}
