//Sass color variables layout
$white: #fff;
$beige: #dad7cd;
$gray: #8f8f8f;
$tan-hide: #f78460;
$light-gray: #b0b3b7;
$tundora: #4a4a4a;

//Sass color variables base
$white: #fff;
$beige: #dad7cd;
$gray: #8f8f8f;
$tan-hide: #f78460;
$light-gray: #b0b3b7;

//Media queries variables
//
$break-medium: 768px;
$break-large: 1024px;
