

/***** Portfolio styles*****/

.portfolio {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  @extend %width-max;
  margin-top: 2em;
  @extend %list-text-center;
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media(min-width: 1024px) {
    margin-left: 3em;
    margin-right: 3em;
    background: white;
    margin-bottom: 0;
  }
}

.portfolio ul {
  list-style-type: none;
  @extend %margin-auto;
  padding: 0;
  @extend %flex-column;
}

.project {
  display: flex;
  flex-direction: column;
@media screen and (min-width: 768px) {
  display: inline-block;
  width: 40%;
  }
  @media(min-width: 1024px) {
    display: inline-block;
    width: 30%;
  }
}

.project-image {
  max-width: 90%;
}

.project-title {
  @include fonts (1.1em, 900, $tundora);
  margin: auto;
  padding: 2em;
  @media(min-width: 1024px) {
    font-size: 1.1em;
  }
}

.project-sub-title {
  @include fonts (1.2em, 500, $tundora);
  margin: 1.5em 0 0 0;
}

.project-description {
  @include fonts (1em, 500, $tundora);
  font-size: 1em;
  margin: 0 1em 2em 1em;
  padding: 1em;
  height: 6em; /* This was added to fix an issue with the container size in IE */
}

/***** Skills styles *****/

.skills {
  @extend %width-max;
  @extend %flex-column;
  align-items: center;
  @extend %list-text-center;
  background: $white;
  margin: 3em 0 3em 0;
  @media screen and (min-width: 1024px) {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  background: white;
  }
}

.skills ul {
  list-style-type: none;
  margin: auto;
  @extend %flex-row;
  padding: 0;
  background: $white;
  margin-bottom: 3em;
}

.icons {
  padding: 1em;
  @include fonts (1.1em, 700, $tan-hide);
  @media screen and (min-width: 768px) {
    font-size: 1.5em;
  }
}

.skills-title {
  @include fonts(1em, 700, $tundora);
  padding: 0em 1em 0em 1em;
  background: $white;
  margin: 3em;
  @media(min-width: 1024px) {
    padding: 0em 10em 0em 10em;
  }
}


/***** Contact section styles *****/

.contact-title {
  @include fonts (1.1em, 900, $tundora);
  margin: 3em 0 1em 0;
}

.contact {
  @extend %flex-column;
  color: $gray;
  background: $beige;
  @extend %width-max;
  margin-top: 3em;
  margin-bottom: -.5em;
  @media(min-width: 1024px) {
    margin-left: 3em;
    margin-right: 3em;
  }
}

hr {
  width: 90%;
  @extend %margin-auto;
  border: 2px solid rgb(186, 187, 188);
}

.info {
  list-style-type: none;
  @extend %margin-auto;
  padding: 1.5em;
  @extend %flex-column;
  @media screen and (min-width: 768px) {
    padding: 0 9em 0 9em;
  }
}

.info li{
  padding-bottom: 1em;
}

.numbers {
  line-height: 2em;
  list-style-type: none;
  @extend %margin-auto;
  padding: 0 0 3em 0;
  display: block;
}

span {
  @include fonts (1.1em, 700, $tundora);
}


/***** Footer styles*****/

 .footer {
    background-color: $beige;
    @media screen and (min-width: 768px) {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }
  }

 .footer-name {
   font-family: Courgette;
   @include fonts (1.2em, 700, $tan-hide);
   padding: 0;
   margin-right: auto;
   margin-left: 5%;
 }

.footer-nav  {
  @extend %flex-row;
  list-style-type: none;
  justify-content: space-between;
  @include fonts (1.1em, 700, $tundora);
  @extend %margin-auto;
  padding: 2em 1em;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
  @media(min-width: 1024px) {
    margin: 0;
    margin-right: 1em;
  }
}

.footer a {
    text-decoration: none;
    @include fonts (.9em, 700, $tundora);
    transition: all .5s ease-out;
}

.footer a:hover {
  color: $white;
}

.hidden-back {
  @include fonts (1.1em, 700, $tundora);
  margin-right: 1em;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.hidden {
  display: none;
  @media screen and (min-width: 768px) {
    display: inline;
    margin-right: 2em;
  }
}
