/***** Portfolio styles*****/

.portfolio {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  @extend %width-max;
  margin-top: 2em;
  @extend %list-text-center;
  @media screen and (min-width: $break-medium) {
    display: inline-block;
  }
  @media(min-width: $break-large) {
    margin-left: 3em;
    margin-right: 3em;
    background: white;
    margin-bottom: 0;
  }
    ul {
      list-style-type: none;
      @extend %margin-auto;
      padding: 0;
      @extend %flex-column;
  }
}

.project {
  display: flex;
  flex-direction: column;
@media screen and (min-width: $break-medium) {
  display: inline-block;
  width: 40%;
  }
  @media(min-width: $break-large) {
    display: inline-block;
    width: 30%;
  }
}

.project-image {
  max-width: 90%;
}

.project-title {
  @include fonts (1.1em, 900, $tundora);
  margin: auto;
  padding: 2em;
  @media(min-width: $break-large) {
    font-size: 1.1em;
  }
}

.project-sub-title {
  @include fonts (1.2em, 500, $tundora);
  margin: 1.5em 0 0 0;
}

.project-description {
  @include fonts (1em, 500, $tundora);
  font-size: 1em;
  margin: 0 1em 2em 1em;
  padding: 1em;
  height: 6em; /* This was added to fix an issue with the container size in IE */
}

/***** Skills styles *****/

.skills {
  @extend %width-max;
  @extend %flex-column;
  align-items: center;
  @extend %list-text-center;
  background: $white;
  margin: 3em 0 3em 0;
  @media screen and (min-width: $break-large) {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  background: white;
  }
    ul {
      list-style-type: none;
      margin: auto;
      @extend %flex-row;
      padding: 0;
      background: $white;
      margin-bottom: 3em;
  }
}

.icons {
  padding: 1em;
  @include fonts (1.1em, 700, $tan-hide);
  @media screen and (min-width: $break-medium) {
    font-size: 1.5em;
  }
}

.skills-title {
  @include fonts(1em, 700, $tundora);
  padding: 0em 1em 0em 1em;
  background: $white;
  margin: 3em;
  @media(min-width: $break-large) {
    padding: 0em 10em 0em 10em;
  }
}
