/* Global Layout Set-up */

* {
  box-sizing: border-box;
}


body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background: $white;
  @media screen and (min-width: $break-medium) {
    background-color: $beige;
  }
}
